body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: grey;
}

.card-layout {
    width: 880px;
    height: 489.5px;
    padding: 90px 40px 82px;
    background-color: #9C2004;
    box-shadow: 3px 7px 81px -10px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
}

.left-block {
    width: 440px;
    height: 440px;
    position: relative;
}

.yellow-circle {
    width: 100%;
    height: 100%;
    background-color: #E5B94B;
    border-radius: 50%;
    position: relative;
    top: -30px;
}

.yellow-circle img[alt="imagen1"] {
    width: 150px;
    top: -64.5px;
    right: 20px;
}

.yellow-circle img[alt="imagen2"] {
    position: absolute;
    width: 150px;
    bottom: -60px;
    left: 300px;
}

.yellow-circle img[alt="imagen3"] {
    position: absolute;
    width: 426px;
    left: 0px;
    top: 0px;
    height: 600px;
}

.right-block {
    width: 320px;
    color: #fff;
    position: relative;
    bottom: 50px;
}

.right-block h2 {
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: 900;
    font-family: 'Work Sans', sans-serif;
}

.right-block p {
    font-weight: 200;
    font-family: 'Work Sans', sans-serif;
}

.cta-button {
    color: #000;
    background-color: #E5B94B;
    border: none;
    padding: 15px 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
}
