@font-face {
  font-family: 'Avenir';
  src: url('Avenir-Regular.woff2') format('woff2'),
       url('Avenir-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* RESETEO GENERAL */
/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Avenir';
  background-color: grey;
}

.card {
  width: 100%;
  max-width: 900px;
  background-color: white;
  padding: 40px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.text-content {
  flex: 1;
}

.text-content h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  line-height: 1.2;
}

.text-content p {
  color: #666;
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.5;
}

.btn-primary {
  background-color: #252525;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #000;
}

.images-top {
  display: flex;
  gap: 20px;
}

.images-top img {
  width: 100%;
  max-width: 280px; /* ajusté el ancho para que no sean tan grandes */
  height: 380px; /* altura unificada */
  object-fit: cover;
  border-radius: 12px;
}
.images-top img:first-child {
  width: 100%;
  max-width: 280px;
  height: 380px;
  object-fit: cover;
  border-radius: 12px;
}
.images-top img:last-child {
  width: 100%;
  max-width: 280px;
  height: 380px;
  object-fit: cover;
  border-radius: 12px;
  margin-top: 40px; /* <- ESTE es el truco: lo baja */
}

.card-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gallery-number {
  color: #bbb;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.gallery-item img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}
